.header {
    background-color: #d32323;
    height: 3.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5rem;
}

.logo {
    background-image: url('https://s3-media0.fl.yelpcdn.com/assets/public/legacy@2x.yji-04bfe4564e3464f0b94b.png');
    background-repeat: no-repeat;
    background-size: 4rem;
    width: 4rem;
    height: 2rem;
}

.hamburgerMenu {
    background-color: white;
    width: 100vw;
    height: 93vh;

    position: absolute;
    top: 20;
}

.menu {
    font-size: 1rem;
    font-weight: 400;
    border-bottom: .02rem solid grey;
    height: 3rem;
}

.menuItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

.strong {
    color: red;
}

.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 2rem;
}

.extraText {
    font-size: .9rem;
    color: rgb(65, 165, 228);
    margin-top: 2rem;
}

.searchCategories {
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.searchCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.searchCategoryName {
    font-size: .8rem;
    margin: 0;
}